.app-background {
  background-image: url("./stylingComponents/background-large.jpg");
}

p {
  font-size: 1rem;
  margin: 3px;
}

h5 {
  margin: 0;
}

h3 {
  margin: 0;
}

span {
  font-size: 1rem;
}

.weather-container {
  text-align: left;
  margin-left: 20px;
}
